.nav {
  // background-color: antiquewhite;
  // border: 1px solid black;
  grid-column: -2 / span 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: right;
}
.item {
  margin: 0 20px;
}
