.errorMessage {
  top: 0;
  left: 0;
  position: absolute;
  display: fixed;
  background-color: rgba(16, 2, 2, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 30px;
  font-size: 4rem;
  color: rgb(45, 44, 44);
}
.description {
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: aliceblue;
}

.disableScroll {
  overflow: hidden;
}
