.button {
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 40px;
  width: 130px;
  border-radius: 6px;
  margin: 0 10px;

  cursor: pointer;
  &:hover {
    background: #18a0fb;
  }
}
.primary {
  background: #18a0fb;
  color: aliceblue;
}
.light {
  display: block;
  background: #ffffff;
  border: 1px solid #18a0fb;
  padding: 11px 30px;
  &:hover {
    background: #18a0fb;
    color: aliceblue;
  }
}
.link {
  display: block;
  padding: 11px 30px;
}
